@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zoo Keeper Management</h1>
    <p class="lead">ASP.NET MVC application for jaythom.com.au</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Overview</h3>
        <p>
            This system will be used to manage Zookeeper and Animal. Each animal is looked after by one zookeeper. Zoo management require a system to record and display the list of animal and zookeeper.
            The following information is required for Zookeeper:
        </p>
        <ul>
            <li>Staff ID (6 Digits Alpha Numeric Code)</li>
            <li>First name (Text)</li>
            <li>Last name (Text)</li>
            <li>Phone number (Text)</li>
            <li>Date of Birth (Date)</li>
            <li>Email (Text)</li>
        </ul>
        <p>The following information is required for Animal:</p>
        <ul>
            <li>Animal ID (6 Digits Alpha Numeric Code)</li>
            <li>Animal Type (Text)  (i.e. Tiger, Elephant, Giraffe, Monkey, Lion, Lamb, Wolf, Bat, Butterfly, Bison, Pig, Snake, Lima, Camel)</li>
            <li>Nickname (Text)</li>
            <li>Age (Number)</li>
            <li>Gender (Male / Female)</li>
            <li>Zookeeper (Foreign Key)</li>
        </ul>
        <h3>Solution Requirements</h3>
        <ol>
            <li>Solution must be built on the following technology / platform
                <ol type="a">
                    <li>.NET 4.5 Framework C#</li>
                    <li>SQL Server Database </li>
                </ol>
            </li>
            <li>A Web Service (WCF or Web API) to Create and Retrieve Zookeeper and Animal data from a Database. It is recommended to use Entity Framework (code first).</li>
            <li>Create a Website (ASP.NET or MVC). Website should utilize the web service to retrieve and store the data.
                <ol type="a">
                    <li>Intuitive User Interface</li>
                    <li>Mobile friendly (preferably responsive design)</li>
                    <li>
                        In Zookeeper area the user should be able to
                        <ol type="i">
                            <li>List all available Zookeeper with all their information.</li>
                            <li>Add new Zookeeper record.</li>
                        </ol>
                    </li>
                    <li>
                        In Animal area the user should be able to
                        <ol type="i">
                            <li>List all available Animals with all their information.</li>
                            <li>Add new Animal record and assign Zookeeper to the animal.</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>